<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <% @lists.each do |list| %>
      <div class="list-title col-md-12">
        <%= link_to list.name.capitalize, list_path(list) %>
      </div>
      <div class="list-note col-md-12">
        <%= list.note.capitalize %>
      </div>
      <hr>
    <% end %>
    <div class="center">
      <button type="button" class="btn btn-success new_btn">
        <%= link_to "New List", new_list_path %>
      </button>
    </div>
  </div>
</div>
