<div class="container">
  <h1 class="center">Welcome to ToDoList</h1>
  <h3 class="center">In ToDoList, you can add lists on your board.<br /> Provide you details of your plan.</h3>

  <%= render 'list' %>
</div>


