
<%= form_for([@list, @list.todo_items.build]) do |f| %>
  <div class="item-input">
    <%= f.text_field :content, placeholder: "New Item", autofocus: true %>
  </div>
  <div class="item-btn">
    <%= f.submit class: "btn btn-xs btn-primary" %>
  </div>
 
<% end %>
