/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.new_btn {
  margin: 20px;
}

hr {
  border: 1px solid #484848;
  margin: 5px 0;
}

button a {
  color: #fff;
}

button a:hover {
  text-decoration: none;
}

.sh-well {
  margin-top: 7%;
}

.list-title a, .list-note a {
  text-decoration: none;
}

.list-title {
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  margin: 7px;
}

.list-note {
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
  margin: 7px;
}

ul {
  list-style: none;
}

.links {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.list-action,
.list-duadate {
  display: inline-block;
}

.list-action {
  margin-left: 35%;
}

.date-action {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
}

.list-duadate {
  padding-top: 5%;
}

.todo_items_wrapper {
  text-align: center;
}

/* ##### Navbar ##### */

.navbar {
  max-width: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
  padding-left: 40px;
}

.navbar-nav {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -1px;
  padding-left: 40px;
  padding-right: 40px;
}

/* #### todo_item #### */
.clearfix:after {
  clear: both;
}

.table {
  display: block;
}

.complete {
  float: left;
  display: inline-block;
  text-align: center;

  
}

.todo_item {
  display: inline-block;
  text-align: center;
  
}

.trash {
  float: right;
  display: inline-block;
  text-align: center;
}

/* #### list_form #### */
h1 {
  margin: 20px;
}

.form-horizontal {
  margin: 30px;
}


/* #### item_form #### */
.item-input,
.item-btn {
  display: inline-block;
  margin-left: 5px;
}

.item-btn {
  border-radius: 5px;
}






















